*,
*::before,
*::after {
    box-sizing: border-box;
}

/* custom stuff/properties */
:root {
    --ff-primary: 'Roboto Slab', serif;
    --ff-secondary: 'Roboto Slab', monospace;

    --fw-reg: 500;
    --fw-bold: 900;

    /* --test lol */

    --clr-light: rgb(247, 247, 247);
    --clr-dark: #0e0d0d;
    --clr-darkpurp: #0C051A;
    --clr-accent: #a80041;
    --clr-lightbg: #d3d3d3

    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 
          0.125em 0.125em 0.25em rgba(0,0,0,.15);

    --typewriterSpeed: 3s;
    --typewriterCharacters: 16;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body:1.125rem;
    }
}

@media only screen and (max-width: 800px) {
    html,body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x:hidden;
    }

    h2 {
        font-size: 2em;
    }
}

/* General styles */

html {
    scroll-behavior: smooth;
}


body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: 800;
    line-height: 1.6;

}

section {
    padding: 3em 2em;
}

strong { font-weight: var(--fw-bold) }



/* Buttons! */

.btn {
    display:inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */

h1 {
    font-family: "Source Code Pro" monospace;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 3rem;
    position: relative;
    color: var(--clr-accent);
}

h1::before,
h1::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

h1::before {
    background: var(--clr-darkpurp);
    animation:
        typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

h1::after {
    width: .125em;
    background: var(--clr-light);
    animation: 
        typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
        blink 750ms steps(16) infinite;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

.title__subtitle {
    color: var(--clr-accent);
    font-size: 2rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease 
    calc(var(--typewriterSpeed) + 2s) forwards;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;

    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 300px) {
    h1 {
        font-size: 40px;
        text-align: center;
    }

    .title__subtitle {
        text-align: center;
    }
}

h2,
h3 {
    line-height: 1;
    margin: 0;
}

h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


/* header */
header {
    display: flex;
    justify-content: space-between;
}

.intro {
    background-color: var(--clr-light);
}


/* Nav */
.flex {
    display: flex;
    gap: var(--gap, 3rem);
}

.my-logo img {
    margin: 1em;
    width: 30px;
}

.prim-header {
    align-items:center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.prim-nav {
    list-style:none;
    padding: 0;
    margin: 0;

    background: rgb(0, 0, 0, 0.75);
}

.social-nav {
    display: flex;
}

.social-nav a {
    padding: .5em;
}

@supports (backdrop-filter: blur(1rem)){
    .prim-nav {
        background: rgb(0, 0, 100, 0.1);
        backdrop-filter: blur(1rem);
    }
}

.prim-nav a {
    text-decoration: none;
    color: #a80041;
}

.prim-nav a:hover {
    color:var(--clr-light);
}

@media (max-width: 60em) {
    .prim-nav {
        --gap: 2em;

        position: fixed;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        transform: translateX(100%);
    }
}

.prim-nav[data-visible="true"] {
    transform: translateX(0%);
}

@media (max-width: 960px) {
    .content {
        padding-top: 8rem;
    }
} 


/* Intro/welcome section */

.intro {
    position: relative;
    z-index: -1;

}

/*.intro__img {
   box-shadow: var(--bs); 
} */


@media (min-width: 600px) {
    .intro {
        display: grid;
        width: max-content;
        margin: 0 auto;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: 1 / -1;
        grid-row: 1;
        position: relative;
    }
}


/* About Me */

.about-me {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.about-me h2 {
    text-align: center;
}

.section__subtitle--bar {
    background: var(--clr-accent);
    color:var(--clr-light);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.container-about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.container-about img {
    height: 13em;
    width: 13em;
    object-fit: cover;
    object-position: 100% 35%;
    border: 2px solid var(--clr-accent);
    border-radius: 8em;
}

.container-about p{
    padding-top: 15px;
    padding-left: 20px;
    width: 80ch;
    font-weight: 500;
}

@media (max-width: 800px) {

    .container-about{
        display: flex;
    }

    .about-me h2 {
        font-size: 2em;
    }

    .container-about p {
        width: 40ch;
    }
}



/* What I do / Services Section */

.my-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--clr-dark);
    font-size: var(--fs-h3);
    color: var(--clr-accent);
    text-shadow: 0.5px 0.5px 0 #000000;
    text-align: center;
}

.my-services h2 {
    padding-bottom: 1em;
}

.tech-stack-container {
    background-color: var(--clr-darkpurp);
    border-radius: 2em;
    padding: 5em;
    width: 30em;
}

.tech-stack-container h3 {
    text-align: center;
    padding-bottom: 1em;
}

.icon-container {
    display: grid;
    grid-auto-flow: column dense;
    grid-template-rows: 100px 100px;
    grid-auto-columns: 100px;
}

.my-services a.btn {
    margin-top: 3em;
}



@media (max-width: 800px) {

    .section__title--services {
        font-size: 2em;
        padding-top: 90px;
    }

    .service h3 {
        font-size: 1.5em;
    }

    .tech-stack-container {
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
    }

    .icon-container {
        display: flex;
        flex-wrap: wrap;
    }
}




/* My Work */

.my-work {
    background-color: var(--clr-darkpurp);
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    text-align: center;
    text-shadow: 0.5px 0.5px 0;
    min-height: 100vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 0px 3px;
    flex-direction: column;
}

.column img {
    margin-top: 15px;
    vertical-align: middle;
    width: 75%;
}

.card video {
    width: 40em;
    height: 18.4em;
    margin: 1em;
    border: 1px solid #fff;
}

/* Responsive Layout for My Work */
@media (max-width: 1550px) {

    .my-work {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .my-work h2 {
        font-size: 2em;
    }

    .column {
        max-width:fit-content;
        margin: 1em;
    }

    .row {
        flex-direction: column;
    }

    .card video {
        position: relative;
        width: 95%;
        border: none;
        min-height: fit-content;
        display: flex;
        flex-direction: column;
    }

    
}

@media (max-width: 600px) {
    .column {
        flex-direction: column;
    }

    .card video {
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    

}

/*contact me */

.contact-me {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: var(--clr-dark);
}

.contact-me h2 {
    text-align: center;
}

.contact-me ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.contact-me a {
    padding: 1em;
    color: var(--clr-accent)
}

.contact-me a :hover {
    color: black;
}


@media (max-width: 800px) {
    .contact-me h2 {
        font-size: 2em;
    }
}



@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
        padding: 5px 5px;
    }

    input[type=submit] {
        height: 60px;
    }

    h2 {
        font-size: 2em;
    }
}



/* footer */

.footer {
    background-color: var(--clr-dark);
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
    width: 100%;
}


.footer a { 
    color: inherit; 
    text-decoration: none;
    font-size: 20px;
}

footer ul {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}


@media screen and (max-width: 600px) {
    footer ul {
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }
}

