*,
*::before,
*::after {
    box-sizing: border-box;
}

/* custom stuff/properties */
:root {
    --ff-primary: 'Roboto Slab', serif;
    --ff-secondary: 'Roboto Slab', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --purple-navy: #424874ff;
    --languid-lavender: #dcd6f7ff;
    --maximum-blue-purple: #a6b1e1ff;
    --light-gray: #cacfd6ff;
    --azure-x-11-web-color: #d6e5e3ff;

    /* --test lol */

    --clr-light: #fff;
    --clr-dark: #0e0d0d;
    --clr-accent: #a80041;
    --clr-lightbg: #d3d3d3

    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 
          0.125em 0.125em 0.25em rgba(0,0,0,.15);

    --typewriterSpeed: 3s;
    --typewriterCharacters: 16;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body:1.125rem;
    }
}

@media only screen and (max-width: 480px) {
    html,body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x:hidden;
    }

    h2 {
        font-size: 2em;
    }
}

/* General styles */

html {
    scroll-behavior: smooth;
}


body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    min-height: 100vh;
}

section {
    padding: 3em 2em;
}

strong { font-weight: var(--fw-bold) }

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons! */

.btn {
    display:inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */

h1 {
    font-family: "Source Code Pro" monospace;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 3rem;
    position: relative;
}

h1::before,
h1::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

h1::before {
    background: var(--clr-light);
    animation:
        typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

h1::after {
    width: .125em;
    background: black;
    animation: 
        typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
        blink 750ms steps(16) infinite;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

.title__subtitle {
    color: hsl(0 0% 0% / 0.7);
    font-size: 2rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease 
    calc(var(--typewriterSpeed) + 2s) forwards;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;

    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 300px) {
    h1 {
        font-size: 40px;
        text-align: center;
    }

    .title__subtitle {
        text-align: center;
    }
}

h2,
h3 {
    line-height: 1;
    margin: 0;
}

h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


/* header */

header {
display: flex;
justify-content: space-between;
padding: 1em;
height: 100px;
width: 100%;
}


/* Nav */

.flex {
    display: flex;
    gap: var(--gap, 3rem);
}

.my-logo img {
    margin: 1em;
    width: 100px;
}

.prim-header {
    align-items:center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.prim-nav {
    list-style:none;
    padding: 0;
    margin: 0;

    background: rgb(0, 0, 0, 0.75);
}

.social-nav {
    display: flex;
    justify-content: left;
    align-items: center;
}

@supports (backdrop-filter: blur(1rem)){
    .prim-nav {
        background: rgb(0, 0, 100, 0.1);
        backdrop-filter: blur(1rem);
    }
}

.prim-nav a {
    text-decoration: none;
    color: black;
}

.prim-nav a:hover {
    color:var(--clr-accent);
}

@media (max-width: 60em) {
    .prim-nav {
        --gap: 2em;

        position: fixed;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        transform: translateX(100%);
    }
}

.prim-nav[data-visible="true"] {
    transform: translateX(0%);
}

.menu-toggle {
    position: fixed;
    display: none;
    top: 1rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: #a80041;
    cursor: pointer;
    z-index: 9999;
}

.hamburger {
    position: relative;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    z-index: 1000;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 99px;
    background-color: #FFF;
    transition-duration: .25s;
}

.hamburger > span::before {
    content: '';
    top: -10px;
}

.hamburger > span::after {
    content: '';
    top: 10px;
}

.menu-toggle.is-active .hamburger > span {
    transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
    top: 0;
    transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
    top: 0;
    transform: rotate(90deg);
}


@media (max-width: 960px) {
    .menu-toggle {
        display: block;
    }
    .content {
        padding-top: 8rem;
    }
} 


/* Intro/welcome section */

.intro {
    position: relative;
    z-index: -1;
}

/*.intro__img {
   box-shadow: var(--bs); 
} */


@media (min-width: 600px) {
    .intro {
        display: grid;
        width: max-content;
        margin: 0 auto;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: 1 / -1;
        grid-row: 1;
        position: relative;
    }
}


/* What I do / Services Section */

.my-services {
    background-color: var(--clr-light);
    font-size: var(--fs-h3);
    color: var(--clr-dark);
    text-shadow: 0.5px 0.5px 0 #000000;
    text-align: center;
    max-height: 100vh;
}

.section__title--services {
    color: var(--clr-accent);
    border-bottom: 1px solid #a80041;
    padding: 7px;
}


.services {
    display: flex;
    justify-content: center;
}

.service {
    padding: 25px;
}


.service h3 {
    font-size: 2em;
    padding-bottom: 10px;
}

/* icons in services */
.fa-brands {
    padding: 0 10px;

}

.fa-html5 {
    color: red;
}

.fa-css3-alt {
    color: blue;
}

.fa-square-js {
    color: yellow;
}

span img {
    background-color: white;
    width: 65px;
}

@media (max-width: 800px) {
    .section__title--services {
        font-size: 35px;
    }

    .service h3 {
        font-size: 1.2em;
    }

    .services {
        display: block;
    }
}



/* About Me */

.about-me {
    display:block;
    margin: 0 auto;
    background-color: var(--clr-light);
    color: var(--clr-dark);
}

.about-me h2 {
    text-align: center;
}

.section__subtitle--about {
    background: var(--clr-accent);
    color:var(--clr-light);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.container-about{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me__body .headshot {
    max-width: 100%;
    height: 300px;
    border: 1px solid black;
    border-radius: 200px;
}


@media (max-width: 800px) {
    .about-me h2 {
        text-align: center;
    }

    .container-about {
        display: block;
    }
}


/* My Work */

.my-work {
    background-color: var(--clr-light);
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    text-align: center;
    text-shadow: 0.5px 0.5px 0 #fff;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 33.3%;
    max-width: 33.3%;
    padding: 0px 3px;
}

.column img {
    margin-top: 15px;
    vertical-align: middle;
    width: 75%;
}

/* Responsive Layout for My Work */
@media (max-width: 800px) {
    .column {
        flex: 30%;
        max-width: 60%;
    }
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
        padding: 20px 0;
    }

}

/*contact me */

.contact-me {
    text-align: center;
}

.container {
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25;
    margin-top: 6px;
}

.form-row:after {
    content: '';
    display: table;
    clear: both;
}

.container input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    resize: vertical;
}

.container label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.container input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    float: right;
}

.container input[type=submit]:hover {
    background-color: #a80041;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
        padding: 5px 5px;
    }

    input[type=submit] {
        height: 60px;
    }

    h2 {
        font-size: 2em;
    }
}



/* footer */

.footer {
    background-color: var(--clr-dark);
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
    width: 100%;
}


.footer a { 
    color: inherit; 
    text-decoration: none;
    font-size: 20px;
}

footer ul {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

@media screen and (max-width: 600px) {
    footer ul {
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }
}


/* Individual portfolio item styles */

